.typed-text {
  --stroke-color: #60a5fa; // Tailwind's blue-400
  -webkit-text-stroke: 0.7px var(--stroke-color);
  position: relative;
  display: inline-block;
  overflow: hidden;

  .text-content {
    color: transparent;
    background: linear-gradient(to right, #60a5fa 50%, transparent 50%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: fillText 4s infinite;
  }

  .cursor {
    position: absolute;
    right: -1rem;
    top: 0;
    font-weight: bold;
    color: #60a5fa;
    animation: blink 1s infinite;
  }
}

@keyframes fillText {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}


.home-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.home-animate.active {
  opacity: 1;
  transform: translateY(0);
}
